[submodule "Scanning"]
	path = Scanning
	url = https://github.com/N-Pulse/Scanning.git
[submodule "Simulation"]
	path = Simulation
	url = https://github.com/N-Pulse/Simulation.git
[submodule "Firmware"]
	path = Firmware
	url = https://github.com/N-Pulse/Firmware.git
[submodule "Grasping"]
	path = Grasping
	url = https://github.com/N-Pulse/Grasping.git
